@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', Verdana , sans-serif;
  --color-background: #1A1A1A;
  --color-text: #F9F6EE;
  --color-primary: #6E81B9;
  --color-secondary: #B9A66E;
}

body {
  background-color: #1A1A1A ;
  color: #F9F6EE;
  margin: 0;
  padding: 0;
}

main {
  min-height: 80vh;
}